{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<div id="services">
  <div class="container">
    <div class="section-title">
      <h2>Flats</h2>
    </div>
    <div class="row">
      {% for i in flats %}
        <div class="col-md-3">
          <div class="service-media"> <img src="{{i.property_image1.url}}" alt=" "> </div>
          <div class="service-desc">
            {% if i.status %}
              <h1 style="color:red">Sold Out</h1>
            {% else %}
              <a href="{% url 'property_details_flats' pk=i.pk %}"><h3>{{i.property_location}}</h3></a>
            {% endif %}
            
          </div>
        </div>
      {% endfor %}
          
    </div>
  </div>
</div>

</body>
</html>
{% endblock %}