{% extends 'seller_header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/javascript">
    function Hello()
    {
      flag=false;
      var a=confirm("Are You Sure You Want To Update Password?");
      if(a==true)
      {
        flag=true;
      }
      else
      {
        flag=false;
      }
      return flag;
    }
    function checkPassword()
    {
      var f=document.getElementById("password").value;
      var reg=/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
      if(f=="")
      {
        document.getElementById("pass_error").innerHTML="Please Enter Password";
      }
      else if(!reg.test(f))
      {
        document.getElementById("pass_error").innerHTML="Min 1 Upper, Lowe, Special & Numeric(8,15)"; 
      }
      else
      {
        document.getElementById("pass_error").innerHTML="";
      }
    }
    function checkCpassword()
    {
      var p1=document.getElementById("password").value;
      var p2=document.getElementById("cpassword").value;
      if(p2=="")
      {
        document.getElementById("cpass_error").innerHTML="Please Enter Confirm Password";
      }
      else if(p1!=p2)
      {
        document.getElementById("cpass_error").innerHTML="Password & Confirm Password Does Not Matched"; 
      }
      else
      {
        document.getElementById("cpass_error").innerHTML="";
      }
    }
  </script>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<!-- Header -->

<!-- Get Touch Section -->
<!-- Contact Section -->
<div id="contact">
  <div class="container">
    <div class="col-md-8">
      <div class="row">
        <div class="section-title">
          <h2>Change Password</h2>
          
        </div>
        <h3>
          {% if msg %}
            {{msg}}
          {% endif %}          
        </h3>
        <form name="change_password" method="post" action="{% url 'change_password' %}">
          {% csrf_token %}
          <div class="row">  
            <div class="col-md-12">
              <div class="form-group">
                <input type="password" id="name" class="form-control" placeholder="Old Password" required="required" name="old_password">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input type="password" id="password" class="form-control" placeholder="New Password" required="required" name="new_password" onblur="checkPassword();">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input type="password" id="cpassword" class="form-control" placeholder="Confirm Password" required="required" name="cnew_password" onblur="checkCpassword();">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            
          </div>
          
          <div id="success"></div>
          <button type="submit" class="btn btn-custom btn-lg" onclick="return Hello();">Change Password</button>
        </form>
      </div>
    </div>
    
  </div>
</div>
</body>
</html>
{% endblock %}